{% extends 'base.html.twig' %}
 
{% block body %}
    <h1>Recipe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ recipe.title }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ recipe.ingredients }}</td>
            </tr>
            <tr>
                <th>Directions</th>
                <td>{{ recipe.directions }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ recipe.image }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ recipe.rate }}</td>
            </tr>
            <tr>
                <th>Ispublic</th>
                <td>{% if recipe.isPublic %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if recipe.createdAt %}{{ recipe.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if recipe.updatedAt %}{{ recipe.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recipe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
